*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: rgb(12, 12, 12);
    display: flex;
    justify-content: center;
    align-items: center;
}
#snake-board{
    background-color: rgb(14, 10, 10);
    box-shadow: 20px 20px 50px 10px rgb(43, 42, 42);
    border-radius: 10px;
    display: grid;
    margin-top: 50px;
    border: 1px solid white;
    width: 450px;
    height: 450px;
    grid-template-rows: repeat(30,1fr);
    grid-template-columns: repeat(30,1fr);
    border: 1px solid white;
        
}

.snake{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

.food{
    background-color: red;
    border:3px solid black;
    border-radius: 100%;
}

